h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.message {
    visibility: hidden;
    color: red;
    margin: auto;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#weatherimg{
    float: left;
    /* display: inline; */
    /* border: 2px solid orange; */
    vertical-align: top;
    /* margin: auto;
    margin-top: 0; */
}

.header {
    background-color: darkblue;
    color: white;
    margin: auto;
    padding-top: 20px;
    width: 100%;
    text-align: center;
    vertical-align:middle;
    height: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

.city-search{
    width: 20%;
    height: 100vh;
    display: inline;
    float: left;
    /* border: 2px solid red; */
    /* background-color: blue; */
}

.city-name {
    margin-top: 10px;
    width: 95%;
    margin-right: 10px;
    display: block;
    padding: 5px;
    margin-bottom: 10px;
    float: left;
}

.btn {
    color: white;
    background-color: blue;
    margin: auto;
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    display: block;
}

.btn:hover {
    background-color: white;
    color: blue;
    cursor: auto;
}
.citybtn {
    color: black;
    background-color: lightgray;
    margin: auto;
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    display: block;
}

.citybtn:hover {
    background-color: black;
    color: lightgray;
    cursor: auto;
}

.city-name-date{
    /* border: 1px solid red; */
    width:fit-content;
    /*width: 80%; */
    height: 20px;  /* Somehow removing this messes things up */
    margin-left: 5px;
}

#city-name-display{
    float: left;
    vertical-align: middle;
    padding-bottom: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-top: 0;
    padding-top: 8px;
    margin-bottom: 0;
}

#weatherimg{
    float: right;
    /* display: inline; */
    /* border: 2px solid orange; */
    vertical-align: top;
}

.cityweather {
    width: 80%;
    display: inline;
    grid-area: cityweather;
    height: 150px;
    border: 1px solid black;
    margin: 20px;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

.city-temp{
    margin: 8px;
    /* border: 1px solid aqua; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

.city-wind{
    margin: 10px;
    /* border: 1px solid green; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

.city-humidity{
    margin: 10px;
    /* border: 1px solid greenyellow; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

.forecast {
    width: 100%;
    display: block;
    grid-area: forecast;
    height: 100%;
    /* border: 2px solid red; */
    /* margin: 20px;
    margin-top: 5px; */
    margin-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.day1 {
    grid-area: day1;
    /* border: 2px solid blue; */
    margin-top: 10px;
    margin-bottom: 20px;
    width: 170px;
    height: 190px;
    margin-left: 20px;
    background-color: #212F3C;
    color: white;
    padding: 10px;
}

.day2 {
    grid-area: day2;
    /* border: 2px solid blue; */
    margin-top: 10px;
    margin-bottom: 20px;
    width: 170px;
    height: 190px;
    background-color: #212F3C;
    color: white;
    padding: 10px;
}
.day3 {
    grid-area: day3;
    /* border: 2px solid blue; */
    margin-top: 10px;
    margin-bottom: 20px;
    width: 170px;
    height: 190px;
    background-color: #212F3C;
    color: white;
    padding: 10px;
}
.day4 {
    grid-area: day4;
    /* border: 2px solid blue; */
    margin-top: 10px;
    margin-bottom: 20px;
    width: 170px;
    height: 190px;
    background-color: #212F3C;
    color: white;
    padding: 10px;
}
.day5 {
    grid-area: day5;
    /* border: 2px solid blue; */
    margin-top: 10px;
    margin-bottom: 20px;
    width: 170px;
    height: 190px;
    background-color: #212F3C;
    color: white;
    padding: 10px;
}

.day1-city-wind ,.day2-city-wind , .day3-city-wind, .day4-city-wind, .day5-city-wind{
    margin-top: 10px;
    margin-bottom: 10px;
}

.weather {
    display: grid;
    width: 70%;
    grid-template-areas:
      'cityweather cityweather cityweather cityweather cityweather'
      'forecast forecast forecast forecast forecast'
      'day1 day2 day3 day4 day5';
    row-gap: 10px;
    column-gap: 20px;
    /* border: 2px solid yellow; */

}


/* Handle smaller screens by stacking forecast and making widht smaller */
@media (max-width: 900px) {

    .weather {
        display: grid;
        grid-template-areas:
          'cityweather cityweather '
          'forecast forecast '
          'day1 day2 '
          'day3 day4 ' 
          'day5 day5';
        row-gap: 10px;
        column-gap: 5px;
        /* border: 2px solid yellow; */
    
    }

    .day1,.day2,.day3,.day4,.day5{
        width: 120px;
    }
    
   
    
}



 